// COLORS
$color-primary: #862fde;
$color-gray: #f6f6f9;

$color-text-dark: #16171b;
$color-text-white: #fff;
$color-text-gray: #8c8f97;

$color-body: #fff;

// FONTS
$font-primary: 'Montserrat', sans-serif;

// BORDERS
$border-radius: 8px;
